@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Montserrat, Roboto, OpenSans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
